body {
    font-family: 'Outfit', sans-serif;
    background: hsl(217, 54%, 11%);
    text-align: center;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

p {
    color: hsl(215, 51%, 70%);
    font-weight: 400;
}

/*containers*/
.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main, footer {
    width: 40%;
}

.card {
    margin: 20%;
    padding: 3%;
    border-radius: 15px;
    background-color: hsl(216, 50%, 16%);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: hsl(215, 51%, 70%);
}

.card-img-text {
    display: flex;
    justify-content: flex-start;
}

/*paragraph*/
.etherum-text {
    color: hsl(178, 100%, 50%);
}

/*links*/
.attribution a { 
    color: hsl(0, 0%, 100%);
}

/*images and icons*/
.avatar-img {
    width: 20%;
}